<h1>Editing Book</h1>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
  <div class="form-group">
    <label class="minititle">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <label class="minititle">Body</label>
    <%= f.text_area :body %>
  </div>
  <div class="button">
    <%= f.submit 'Update Book' %>
  </div>
  <div class="padding">
  <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", default_path %>
  </div>
<% end %>

