<h1>Editing Book</h1>
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  Title
  <%= f.text_field :title %>
  Body
  <%= f.text_area :body %>
  <p><%= f.submit 'Update Book' %></p>
  
  <%= link_to "show", book_path(@book.id) %> | <%= link_to "Back", default_path %>

<% end %>
